*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.head{
    height: 30px;
    background-color: #33b1b6 ;
    clear: both;
}

#maindiv{
    width: 100%;
    display: block;
    flex-direction: row;
    float: left;
 
}

#div1{
    width: 20%;
    float: left;

}

#div2{
    width: calc(60% - 2px);
    float: left;
    border-left: 1px solid #c7c3c3 ;
    border-right: 1px solid #c7c3c3;
}

#div3{
    width: 20%;
    float: left;
}

.bar{
    height: 50px;
    /* border-bottom:1px solid #c7c3c3; */
    width: 100%;
}

.obj{
    float: left;
    margin: 10px;
    width: calc(100% - 20px);
    height: 150px;
    /* height: calc(28vh); */
    background-color: transparent;
    border:1px solid #c7c3c3;
    border-radius: 3px;
}

.obju{
    height: 50px;
    width: 100%;
    background-color: #c7c3c3;
    padding: 17px;
    /* vertical-align: middle; */

}

.obju>h1{
    font-size: 16px;
}

.objd{
    height: 100px;
    width: 100%;
    /* background-color: #008000; */
    align-items: center;
    /* padding: 0px;
    margin: 0px; */
    border-collapse: collapse;
    
    
}

.objd>h1{
    display: inline-block;
    padding: 7px;
    margin-top: 25px;
    margin-bottom: 25px;

}

.withborder{
    border: 1px solid #c7c3c3;
    border-radius: 1px;
}



#hintb{
    display: inline-block;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 40px;
    background-color: 	#22758b;
    border:1px solid #c7c3c3;
    border-radius: 3px;
    color: white;
}

#hintb:hover{
    background-color: #0F52BA;
    border-color: black;

}
#txtbx{
    float: left;
    margin: 10px;
    
    width: calc(100% - 20px);
    height: 300px;
    border: 1px solid #c7c3c3;
    border-radius: 3px;
    overflow: scroll;
}

#npb{
    margin: 10px;
    width: calc(100% - 20px);
    border: 1px solid #c7c3c3;
    border-radius: 3px;
    float: left;
}

.np{
    float: left;
    margin: 15px;
    width: calc(50% - 30px);
    border: 1px solid #c7c3c3;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    color: #c7c3c3;
    padding: 15px;
}

#submit{
    float: left;
    margin: 15px;
    margin-bottom: 30px;
    width: calc(100% - 30px);
    padding: 10px;
    font-size: 15px;
    background-color: #22758b;
    color: white;
    border: 1px solid #c7c3c3;
    border-radius: 5px;
}

#submit:hover{
    background-color: #436496;
    border:1px solid black;
}

@media only screen and (max-width: 600px) {
    #div1,#div2,#div3{
        width: 100%;
    }
    
    .bar{
        height: 20px;
    }

    #txtbx{
        height: 150px;
    }
}

